body
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  background-image: linear-gradient(white, #fff9b2);
}
.imgres
{
  width: 100%;
  height: auto;
}
.imgreslogo
{
  width: 100%;
  max-width: 400px;
  height: 100px;
  margin-bottom: 20px;
}
.imgrestrophy
{
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 140px;
  max-height: 600px;
  margin-bottom: 20px;
}
.imgrestools
{
  width:100%;
  height: auto;
  max-height: 400px;
  max-width: 900px;
}
.row 
{
  display: flex;
}
.column 
{
  flex: 50%;
  padding: 10px;
}
hr
{
  border: 1px solid red;
  margin-bottom: 10px;
}
.footerac
{
  text-align: center;
}
.spanc
{
  color: red;
}
.secpara
{
  margin-left: 10px;
}
.fcontent
{
  text-align: center;
}
.footerbc
{
  background-color: #ec3237;
  height: 80px;
  color: white;
}
.rowb 
{
  display: table;
  table-layout: fixed;
  width: 100%;
}

.columnb 
{
  display: table-cell;
  text-align: center; 
}
a
{
  text-decoration: none;
  color: white;
}
@media (max-width: 768px) 
{ 
  .columnb 
  {
    display: block;
  }
}
